
@model IEnumerable<RoomBooking.Core.Entities.Booking>

<div class="row">
    <div class="col-md-6">

        <table class="table table-striped">
            <tr>
                <th class="col-md-2">
                    Roomnumber
                </th>
                <th class="col-md-2">
                    From
                </th>
                <th class="col-md-2">
                    To
                </th>
                <th class="col-md-2">
                </th>
            </tr>

            @foreach (var booking in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => booking.Room.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => booking.From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => booking.To)
                    </td>
                    <td >
                        <a href="@Url.Action("Edit", "Bookings", new {id = booking.Id})">
                            Edit
                        </a> |
                        <a href="@Url.Action("Delete", "Bookings", new {id = booking.Id})">
                            Delete
                        </a>
                    </td>

                </tr>
            }

        </table>
    </div>
</div>


